body {
    background-color: rgb(189, 229, 235);
    margin: 0%;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    


}

.card {
    background-color: rgb(162, 121, 201);
    height: 400px;
    width: 800px;
    border: 2px solid rgb(174, 0, 255);
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    box-shadow: 10px 10px rgb(170, 21, 230);

}



#nav-bar {
    color: rgb(118, 16, 235);
    height: 100px;
}




